body{
  margin: 0;
  text-align: center;
}
h2{
  color:#66BFBF;
  line-height: 2;
  font-size:50px;
  font-family: 'Ubuntu', sans-serif;
}
h3{
  color:#11999E;
  font-family: 'Ubuntu', sans-serif;
  font-size:25px;
}
hr{
  border-style:dotted none none none ;
  border-color: #e0ebe8;
  border-width: 10px;
  width:8%;
  margin: 80px auto 80px auto;
}
.Name{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 0;
  color:#66BFBF;
  line-height: 2;
}
.description {
  font-family: 'Fondamento', cursive;
  font-weight: normal;
  color:#66BFBF;
}

.Top-Container{
  text-align: center;
  background-color: #e0ebe8;
  position: relative;
  padding-top: 80px;
}
.b-cloud{
  position:absolute;
  left:200px;
  bottom:300px;
}
.t-cloud{
  position:absolute;
  right:200px;
  top: 60px;

}
.t-smile{
  position: absolute;
  right: 260px;
  top:60px;
}
.b-smile{
  position: absolute;
  left:240px;
  bottom:290px;

}

.skill-row{
  width:50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
}
.dev-img{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.des-img{
  width:25%;
  float: right;
  margin-left: 30px;
  border-radius: 100px;
}
.middle-container{
  margin-top:50px;
}


.skill-description,.profile-description,.contact-description{
  font-weight: 200;
  font-size: 20px;
  column-rule: #40514E;
  font-family: serif;
}

.profile-description{
  width:30%;
  margin:auto;
  line-height: 2;
}
.contact-description{
  font-family: 'Sahitya', serif;
  width:40%;
  margin: 30px auto 30px;
}
.contact-head{
  font-size:20px;
}
.bottom-container{
  margin:100px auto auto;
  padding-top:40px;
  padding-bottom:20px;
  background-color: #66BFBF;
  color:#11999E;
}
.footer-link{
  color:#11999E;
  margin:10px 20px;
  font-family:'Ubuntu', sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}
.footer-link:hover{
  color:#EAF6F6;
}
.copyright{
  color:#EAF6F6;
  font-family:'Sahitya', serif;
}
.message-me {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 47;
  -moz-border-radius: 47;
  border-radius: 47px;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 0px;
  text-decoration: none;
}

.message-me:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
